main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
}

article {
    text-align: center;
}

.card-1 {
    background-color: blue;
    color: white;
    border-radius: 4px;
    grid-column: 1/3;
}

.card-2 {
    background-color: aqua;
    grid-column: 3/4;
}

.card-3 {
    background-color: purple;
    grid-column: 1/2;
    color: white;
}

.card-4 {
    background-color: pink;
    grid-column: 2/4;
}

.card-5 {
    background-color: aqua;
    grid-column: 3/4;
}