form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: darkgray;
    gap: 20px;
    margin: auto;
    width: 800px;
}

input {
    display: block;
    aspect-ratio: 1/1;
    background-color: white;
    color: red;
    border: none;
    text-align: center;
    font-size: 70px;
    width: 100%;
}